<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style media="screen">
        .input-container input {
            border: none;
            box-sizing: border-box;
            outline: 0;
            padding: .75rem;
            width: 100%;
        }
        body {
            background-image: url("https://images.pexels.com/photos/7925847/pexels-photo-7925847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        }
    </style>
</head>

<body>
<form th:action="@{/students/{companyId}/{studentId}/saveUpdateStudent(companyId=${companyId},studentId=${studentId})}"
      th:object="${student}"
      th:method="post"
      style="text-align:center; margin-top:60px; font-size: 15px;">
    <div><input name="First Name" th:field="*{firstName}"></div>
    <br>
    <div><input name="Last Name" th:field="*{lastName}"></div>
    <br>
    <div><input name="Phone number" th:field="*{phoneNumber}"></div>
    <br>
    <div><input name="Enter email" th:field="*{email}"></div>
    <br>
    <div><input name="Study Format" th:field="*{studyFormat}"></div>
    <br>
    <div><input  type="submit" value="update"></div>
</form>
</body>


