<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<style>table,
td {
    border: 1px solid #333;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

thead,
tfoot {
    background-color: #e8e5e5;
    color: #344712;
}
</style>
<style>
    table, th, td {
        border: 1px solid #1e1818;
        padding: 3px;
    }
    /*body {*/
    /*    background-image: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg");*/
    /*}*/
</style>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Deadline</th>
        <th scope="col">Task Name</th>
        <th scope="col">Task Text</th>
        <th scope="col">Lesson</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task:${allTasks}">
        <th th:text="${task.taskId}"></th>
        <th th:text="${task.deadline}"></th>
        <th th:text="${task.taskName}"></th>
        <th th:text="${task.taskText}"></th>
        <th th:text="${task.getLessons().getLessonName()}"></th>
        <td>
            <a th:href="@{/tasks/updateTask/{taskId}(taskId=${task.getTaskId()})}">
                <button style="height: 40px; width: 80px; background-color:blue;">update</button>
            </a>
        </td>
        </td>
        <td><form th:method="DELETE" th:action="@{/tasks/{lessonId}/{taskId}/deleteTask(lessonId=${lessonId},taskId=${task.getTaskId()})}">
            <input type="submit" value="delete" style="height: 40px; width: 80px; background-color:#abd21e;"/></form></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/tasks/{lessonId}/newTask(lessonId=${lessonId})}">
    <button type="button" class="btn btn-primary btn-sm">Add Task</button>
</a>
<a th:href="@{/companies/allCompanies}">
    <button type="button" class="btn btn-primary btn-sm">Go back</button>
</a>
<!--<input style=" display: block; margin:auto; font-size:30px;" type="button" value="Add Course"-->
<!--       onclick="window.location.href = 'newCourse'">-->


</body>
</html>


